PORT=5000
MONGO_URI=mongodb://pavu586_db_user:pavu1234@ac-qdpm7oo-shard-00-00.vpqaxfi.mongodb.net:27017,ac-qdpm7oo-shard-00-01.vpqaxfi.mongodb.net:27017,ac-qdpm7oo-shard-00-02.vpqaxfi.mongodb.net:27017/?ssl=true&replicaSet=atlas-1419n3-shard-0&authSource=admin&retryWrites=true&w=majority
CLIENT_URL=http://localhost:5173

ALGOD_SERVER=
ALGOD_PORT=
ALGOD_TOKEN=
ALGOD_REGISTRY_ADDRESS=

INDEXER_SERVER=
INDEXER_PORT=
INDEXER_TOKEN=

PERA_WALLET_NETWORK=testnet

N8N_WEBHOOK_URL=

JWT_SECRET=
NODE_ENV=development
